img,
.court {
  height: 12em;
}
.volleyball {
 position: relative;
 right: 6em;
 bottom: 4em;
}
.soccer {
  position: relative;
  left: 13em;
  bottom: 15em;
}
.football {
  position: relative;
  right: 6em;
  bottom: 24em;
}