.coaches {
  display: flex;
  text-align: center;
  align-content: center;
  overflow: hidden;
}
.profile-background {
  position: relative;
  bottom: 39%;
}
.align-right{
  float: right;
}
.align-left {
float: left;
}